<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009915912559-ee32je45akhrh48b43n3pf506mot4rhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009915912559-ee32je45akhrh48b43n3pf506mot4rhq</string>
	<key>API_KEY</key>
	<string>AIzaSyDPhYtzmJ19zqgU-QbfUkERhcXEcJq8Lqw</string>
	<key>GCM_SENDER_ID</key>
	<string>1009915912559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MaceInc.Dreamer</string>
	<key>PROJECT_ID</key>
	<string>dreamer-21514</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamer-21514.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009915912559:ios:148b2592129129cd6d889a</string>
	<key>DATABASE_URL</key>
	<string>https://dreamer-21514.firebaseio.com</string>
</dict>
</plist>